@using Codecool.CodecoolShop.Controllers
@using Codecool.CodecoolShop.Helpers
@{
    ViewData["Title"] = "Payment";
}

<div class="card" width="280px">
    <div class="card-header">
        To complete your order, please fill up the form:
    </div>
    <div class="card-body">
        <div class="col-md-6">Amount</div>
        <div class="col-md-6"><strong>@ViewBag.total</strong> </div>
        <div class="card-js" id="payment-form">
            <input class="card-number my-custom-class" name="card-number" id="card-number">
            <input class="name" id="the-card-name-id" name="card-holders-name" placeholder="Name on card">
            <input class="expiry-month" name="expiry-month">
            <input class="expiry-year" name="expiry-year">
            <input class="cvc" type="password" name="cvc">
        </div>
        <a class="mt-20 btn btn-block btn-primary" id="start-payment" asp-controller="Order" asp-action="Confirmation">Pay now</a>
    </div>
</div>

<script src="~/js/paymentManager.js" asp-append-version="true"></script>
