@{
    ViewData["Title"] = "Category Page";
}

@model List<Codecool.CodecoolShop.Models.ProductCategory>

    @foreach (var element in Model)
    {
        <a class="dropdown-item" href="/Product/Category?name=@element.Name">@element.Name</a>
    }
