@{
    ViewData["Title"] = "Supplier Page";
}

@model List<Codecool.CodecoolShop.Models.Supplier>

    @foreach (var element in Model)
    {
        <a class="dropdown-item" href="/Product/Supplier?name=@element.Name">@element.Name</a>
    }