@{
    ViewData["Title"] = "Supplier Page";
}

@model List<Codecool.CodecoolShop.Models.Supplier>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    @foreach (var element in Model)
    {
        <a class="dropdown-item" href="#">@element.Name</a>
    }
</div>